@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #8da0fe 24%, #4e59f6 92%);
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
}

.music-container {
  background: #f1b259;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(253, 233, 157, 0.6);
  display: flex;
  align-items: center;
  padding: 20px 30px;
  position: relative;
}

.img-container {
  width: 150px;
  position: relative;
}

.img-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: -1;
  left: 0;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.music-info {
  background: rgba(167, 185, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 2;
  transform: translateY(-100%);
}

.progress-container {
  background: #4e59f6;
  height: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.progress {
  background: #fe8daa;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background: #f1b259;
  border: none;
  color: #f75f5f;
  font-size: 30px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.action-btn-big {
  font-size: 40px;
  color: #f75f5f;
}